<div class="contact-preview">
  <div class="photo">
    <img src="{{photo}}" alt="{{name}}">
  </div>
  <div class="info">
    <strong>Name:</strong>
    <span>{{name}}</span>
  </div>
  <div class="more">
    <a href="#">Details</a>
  </div>
</div>
